---
layout: games
title: Home
---

<h1>Debian Games Pure Blend</h1>

<p>These pages contain package information for the <b>Debian Games Pure Blend</b>.</p>

<p>You can find more information on games in Debian <a
	href="https://wiki.debian.org/Game">here</a>. For developer
information, see the <a href="https://wiki.debian.org/Games">Debian Games Team page
on the wiki</a>.</p>

