---
layout: games
title: Maintainer Statistics
---

<h1>Debian Games Maintainer Statistics</h1>

<h2>Active writers on
    <a href="http://lists.debian.org/debian-devel-games/">Debian games user mailing list</a></h2>

<img src="http://blends.debian.net/liststats/authorstat_debian-devel-games.png"
     title="Active writers on user mailing list"
     alt="Bar chart of active writers on user mailing list">

<h2>Active writers on
    <a href="http://lists.alioth.debian.org/pipermail/pkg-games-devel/">Debian games developer list</a></h2>

<img src="http://blends.debian.net/liststats/authorstat_pkg-games-devel.png"
     title="Active writers on developer mailing list"
     alt="Bar chart of active writers on developer mailing list">

<h2>Uploaders of Games</h2>

<img src="http://blends.debian.net/liststats/uploaders_pkg-games.png"
     title="Active writers on mailing list"
     alt="Bar chart of active writers on mailing list">

<h2>Commiters to VCS of Debian Games</h2>

<img src="http://blends.debian.net/liststats/commitstat_pkg-games.png"
     title="Commits SVN/Git"
     alt="Bar chart of Commits to Debian Games repositories obtained via teammetrics project">

<h2>Bug hunters in Debian Games team</h2>

<img src="http://blends.debian.net/liststats/bugs_pkg-games.png"
     title="Bugs closed by Debian Games team members"
     alt="Bar chart of bugs closed by Debian Games team members">

