<div id="footer">
<div id="fineprint">
    <p>
    The source code powering these pages is available <a href="https://salsa.debian.org/blends-team/website">here</a>.
    <br />
    Contact: <a href="mailto:{{ include.team_mail }}">{{ include.team_name }}</a> (<a href="{{ include.team_archives }}">archives</a>)
    {% if include.team_irc %} or <a href="irc://irc.debian.org/{{ include.team_irc }}">#{{ include.team_irc }}</a> on irc.debian.org{% endif %}.
    <br />
    Debian is a registered trademark of <a href="http://www.spi-inc.org/">Software in the Public Interest</a>.
    </p>
</div>
</div>
