<li><a href="/gis/">Home</a></li>
<li><a href="/gis/tasks/">Tasks</a>
<li><a href="/gis/bugs/">Bugs</a></li>
<li><a href="/gis/thermometer/">Thermometer</a></li>
<li><a href="/gis/maintstats/">Maintainer Stats</a></li>
