	<div id="header">
		<div id="wikisection">
			<p class="section"><a href="/" title="{{ include.project_title }}">{{ include.project_short }}</a></p>
		</div>

		<div id="upperheader">
			<div id="logo">
				<a href="http://www.debian.org" title="Debian Home">
					<img src="/img/openlogo-50.png" alt="Debian" width="50" height="61">
				</a>
			</div>
		</div> <!-- end upperheader -->

		<div id="navbar">
			<p class="hidecss"><a href="#content">Skip Quicknav</a></p>
			<ul>
				{% include {{ include.project_menu }} %}
			</ul>
		</div> <!-- end navbar -->

		<p id="breadcrumbs">&nbsp;{{ include.project_title }}{% if include.page_title != "Home" %}<span class="sep">/</span>{{ include.page_title }}{% endif %}</p>
	</div>

